body
	background grey
	color white
	font-size 14px
	postion absolute
	margin  0px
	text-align center

	header 
		background black
		display inline-block
		hight auto
		width 100%

		h1
			display inline-block
			font-size 1.4em
			postion relative
			width 100%

		#imagen
			display inline-block
			height auto
			margein-top -1em
			position relative
			width 70%
			z-index 1

			#png
				height 60px
				width 100%

		nav
			background white
			border-bottom 4px solid transparent
			border-left 10px solid black
			border-top 4px solid transparent
			border-bottom 4px solid transparent
			border-right 10px solid black
			border-top 4px solid transparent
			color white
			display inline-block
			font-size 0.7em
			text-align center
			vertical-align top
			width 90%

		nav ul
			list-style none
			margin 0px
			padding 0 0.8em

		nav ul li 
			display inline-block
			margin 0 1.2em 0 0
			vertical-align top

		nav ul li a 
			color black
			font-family "Dancing Script", Arial
			font-weight normal
			display block
			text-decoration none
			padding 0 0

		nav ul li a:hover
			border-bottom 1px solid #0058A5
			margin 0px
			padding 0px


@import"responsive.styl"