body{background:#808080;color:#fff;font-size:16px;postion:absolute;margin:0;text-align:center;}
body header{background:#000;display:inline-block;hight:auto;width:100%;}
body header h1{display:inline-block;font-size:1.4em;postion:relative;width:100%}
body header #imagen{display:inline-block;height:auto;margein-top:-1em;position:relative;width:70%;z-index:1;}
body header #imagen #png{display:inline-block;height:142px;width:100%}
body header nav{background:#e0dbdb;border-bottom:4px solid transparent;border-left:10px solid #000;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:10px solid #000;border-top:4px solid transparent;color:#fff;display:inline-block;font-size:.7em;height:30px;text-align:center;vertical-align:top;width:90%}
body header nav ul{list-style:none;margin:0;padding:0 .8em}
body header nav ul li{display:inline-block;margin:0 1.2em 0 0;vertical-align:top}
body header nav ul li a{color:#000;font-weight:normal;display:block;text-decoration:none;padding:0 0}
body header nav ul li a:hover{border-bottom:1px solid #c4c512;margin:0;padding:0}
body header #nav{background:#e0dbdb;border-top:1px solid #000;color:#fff;display:inline-block;font-size:.7em;text-align:center;vertical-align:top;width:90%;}
body header #nav #boton{display:inline-block;margin:0 1.2em 0 0;vertical-align:top;}
body header #nav #boton .enlace{color:#808080;font-weight:normal;display:block;text-decoration:none;padding:0 0}
body #contenedor{background:#e0dbdb;color:#000;display:inline-block;position:relative;width:100%;}
body #contenedor #texto{display:inline-block;text-align:left;margin-top:.6em;width:100%}
body #contenedor #item{display:inline-block;width:90%;}
body #contenedor #item .derecha{display:inline-block;padding:.3em;width:90%;}
body #contenedor #item .derecha .estilo{background:#d2d1bf;text-align:left}
body #contenedor #item .izquierda{display:inline-block;padding:.3em;width:90%;}
body #contenedor #item .izquierda .estilo{background:#d2d1bf;text-align:left}
body #contenedor #pie{background:#000;display:inline-block;height:auto;margin-top:1em;vertical-align:top;width:100%;}
body #contenedor #pie #enlaces{display:inline-block;float:left;font-size:1em;position:relative;top:0;width:100%;}
body #contenedor #pie #enlaces a{color:#fff;font-size:1em;text-decoration:none}
body #contenedor #pie #enlaces a:hover{color:#00f;font-weight:bold;transition:1s}
body #contenedor #pie #imagenes{background:#fff;display:inline-block;margin-top:1em;vertical-align:top;width:100%;}
body #contenedor #pie #imagenes .img{float:right;margin:.2em;padding:.3em;width:5%}
@media screen and (min-width:768px){body{margin:0 auto;max-width:1200px;}
body header{width:95%;}
body header nav{font-size:1.2em;width:90%;}
body header nav a:hover{color:#c4c512;font-size:1em;transition:2s}
body header #nav{font-size:1em;width:70%;}
body header #nav a:hover{color:#c4c512;font-size:1.2em;transition:2s}
body header #png{border-top-left-radius:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;border-bottom-left-radius:20px}
body #contenedor{display:inline-blok;width:95%;}
body #contenedor #texto{width:75%}
body #contenedor #item{vertical-align:top;margin-top:0;width:90%;}
body #contenedor #item .derecha{display:inline-blok;float:right;width:45%}
body #contenedor #item .izquierda{display:inline-blok;float:left;width:45%}
body #contenedor #pie{width:100%;}
body #contenedor #pie #enlaces{margin-top:1em;position:relative;float:left;width:50%;}
body #contenedor #pie #enlaces a{border-right:1px solid #fff;font-size:.7em;padding:.2em}
body #contenedor #pie #imagenes{float:right;display:inline-blok;margin:.3em;width:30%;}
body #contenedor #pie #imagenes .img{width:10%}
}