body
	background grey
	color white
	font-size 14px
	postion absolute
	margin  0px
	text-align center

	header 
		background black
		display inline-block
		hight auto
		width 100%

		h1
			display inline-block
			font-size 1.4em
			postion relative
			width 100%

		#imagen
			display inline-block
			height auto
			margein-top -1em
			position relative
			width 70%
			z-index 1

			#png
				height 60px
				width 100%

		nav
			background white
			border-bottom 4px solid transparent
			border-left 10px solid black
			border-top 4px solid transparent
			border-bottom 4px solid transparent
			border-right 10px solid black
			border-top 4px solid transparent
			color white
			display inline-block
			font-size 0.7em
			text-align center
			vertical-align top
			width 90%

		nav ul
			list-style none
			margin 0px
			padding 0 0.8em

		nav ul li 
			display inline-block
			margin 0 1.2em 0 0
			vertical-align top

		nav ul li a 
			color black
			font-weight normal
			display block
			text-decoration none
			padding 0 0

		nav ul li a:hover
			border-bottom 1px solid #0058A5
			margin 0px
			padding 0px


		#nav 
			background white
			border-top 1px solid black
			color white
			display inline-block
			font-size 0.7em
			text-align center
			vertical-align top
			width 90%

			#boton
				display inline-block
				margin 0 1.2em 0 0
				vertical-align top

				.enlace
					color grey
					font-weight normal
					display block
					text-decoration none
					padding 0 0
			

	#contenedor
		background #e0dbdb
		color black
		display inline-block
		position relative
		width 100%

		#texto 
			display inline-block
			text-align left 
			margin-top 0.6em
			width 100%

		#item
			display inline-block
			margin-top 1em
			position relative
			text-align left
			width 100%

			h2
				font-size 1.5em
				font-family "Lobster", Arial
				text-align left

			h3
				color #1198fd
				font-family "Lobster", Arial
				font-size 1.2em
				text-align left

			.noticia
				font-size 0.8em

		#item-texto
			display inline-block
			margin-top 1em
			width 100%

			h2
				font-family "Lobster", Arial
				text-align left

			.reportajes
				display inline-block
				padding 0.3em
				vertical-align top
				width 90%

				.fotos
					float left
					width 40%


				.item-noticia
					float right 
					text-align left
					width 50%

					h3
						color #1198fd
						font-family "Lobster", Arial
						font-size 1.0em

		#pie
			background black
			display inline-block
			height auto
			margin-top 1em
			vertical-align top
			width 100%

			#enlaces
				display inline-block
				float left
				font-size 1.0em
				position relative
				top 0px
				width 100%

				a 
					color white
					font-size 1.0em
					text-decoration none

				a:hover
					color blue
					font-weight bold
					transition 1s

			#imagenes
				background white
				display inline-block
				margin-top 1em
				vertical-align top
				width 100%

				.img 
					float right
					margin 0.2em
					padding 0.3em
					width 5%

@import"responsive.styl"