@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

		header
			border 1px solid red
			width 95%

			nav
				background yellow
				font-size 1.5em
				width 90%

	#contenedor
		width 95%