@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

		header
			width 95%

			nav
				font-size 1.2em
				width 90%

				a:hover
					color #c4c512
					font-size 1.0em
					transition 2s

			#nav
				font-size 1.0em
				width 70%

				a:hover
					color #c4c512
					font-size 1.2em
					transition 2s

			#png
				border-top-left-radius 20px
				border-top-right-radius 20px
				border-bottom-right-radius 20px
				border-bottom-left-radius 20px


		#contenedor
			display inline-blok
			width 95%

			#texto
				width 75%

			#item 
				vertical-align top
				margin-top 0px
				width 90%

				.derecha
					display inline-blok
					float right 
					width 45%

				.izquierda
					display inline-blok
					float left 
					width 45%

			#pie
				width 100%

				#enlaces
					margin-top 1em
					position relative
					float left
					width 50%

					a 
						border-right 1px solid white
						font-size 0.7em
						padding 0.2em

				#imagenes
					float right
					display inline-blok
					margin 0.3em
					width 30%

					.img 
						width 10%
				
