@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

		header
			width 95%

			nav
				font-size 1.5em
				width 90%

			#nav
				width 70%

		#contenedor
			border 1px solid red
			width 95%

			#texto
				backgound #ddd
				display inline-blok
				font-size 0.8em
				margin 0.3em
				padding 0.3em 0.3em
				text-align left
				width 70%